<div class="conditions-strip">
    <% if (page.menulabel !== 'Treated Conditions') { %>
        <i class="fas fa-stethoscope fa-2x"></i>
        <h2>Services and Conditions Treated</h2>
    <% } %>
    <div class="card-container">
        <a class="card1" href="<%- config.root %>lower-level-pages/tms-therapy">
            <i class="fas fa-bolt"></i>
            <h3>TMS Therapy</h3>
            <p class="small">Card description with lots of great facts and interesting details.</p>
            <div class="go-corner" href="#">
                <div class="go-arrow">
                    →
                </div>
            </div>
        </a>
        <a class="card1" href="<%- config.root %>lower-level-pages/depression">
            <i class="far fa-sad-tear"></i>
            <h3>Depression</h3>
            <p class="small">Card description with lots of great facts and interesting details.</p>
            <div class="go-corner" href="#">
                <div class="go-arrow">
                    →
                </div>
            </div>
        </a>
        <a class="card1" href="<%- config.root %>lower-level-pages/anxiety">
            <i class="fas fa-fire"></i>
            <h3>Anxiety</h3>
            <p class="small">Card description with lots of great facts and interesting details.</p>
            <div class="go-corner" href="#">
                <div class="go-arrow">
                    →
                </div>
            </div>
        </a>
        <a class="card1" href="<%- config.root %>lower-level-pages/ptsd">
            <i class="fas fa-fist-raised"></i>
            <h3>PTSD</h3>
            <p class="small">Card description with lots of great facts and interesting details.</p>
            <div class="go-corner" href="#">
                <div class="go-arrow">
                    →
                </div>
            </div>
        </a>
        <a class="card1" href="<%- config.root %>lower-level-pages/ocd">
            <i class="fas fa-crosshairs"></i>
            <h3>OCD</h3>
            <p class="small">Card description with lots of great facts and interesting details.</p>
            <div class="go-corner" href="#">
                <div class="go-arrow">
                    →
                </div>
            </div>
        </a>
        <a class="card1" href="<%- config.root %>lower-level-pages/chronic-pain">
            <i class="fas fa-band-aid"></i>
            <h3>Chronic Pain</h3>
            <p class="small">Card description with lots of great facts and interesting details.</p>
            <div class="go-corner" href="#">
                <div class="go-arrow">
                    →
                </div>
            </div>
        </a>
        <a class="card1" href="<%- config.root %>lower-level-pages/post-stroke">
            <i class="fas fa-brain"></i>
            <h3>Post-Stroke</h3>
            <p class="small">Card description with lots of great facts and interesting details.</p>
            <div class="go-corner" href="#">
                <div class="go-arrow">
                    →
                </div>
            </div>
        </a>
        <a class="card1" href="<%- config.root %>lower-level-pages/tinnitus">
            <i class="fas fa-deaf"></i>
            <h3>Tinnitus</h3>
            <p class="small">Card description with lots of great facts and interesting details.</p>
            <div class="go-corner" href="#">
                <div class="go-arrow">
                    →
                </div>
            </div>
        </a>
    </div>
</div>