<!-- THIS PAGE DEFINES WHAT APPEARS ON EVERY PAGE -->
<!DOCTYPE html>
<html lang="en">
<!-- Head Tags -->
<%- partial('_partial/head') %>
<body>
    <!-- Navigation -->
    <%- partial('_partial/nav') %>
            <!-- MAIN CONTENT -->
            <%- body %>
            <!-- Homepage Content (If it's the Homepage) -->
            <% if (is_home()) { %>
                <%- partial('_partial/homepage') %>
            <% } %>
            <!-- If it's the About Page, render the following components -->
            <% if (page.type == 'about') { %>
                <%- partial('_partial/about/about-page') %>
            <% } %>
                <!-- If it's the News Page, render the blog -->
                <% if (page.type == 'news') { %>
                    <%- partial('_partial/blog') %>
                <% } %>
            <!-- If it's the Treated Conditions Page, render conditions.ejs -->
            <% if (page.type == 'conditions') { %>
                <%- partial('_partial/conditions/conditions-page') %>
            <% } %>           
    

    <%- partial('_partial/contact-form') %>
    <%- partial('_partial/footer') %>
    <!-- Scripts-->
    <%- partial('_partial/scripts') %>
</body>
</html>