<!-- NAVIGATION -->
<div class="nav">
    <div class="nav-top">
        <div class="brand">
            <a href="<%- config.root %>">
                <img src="/images/theramind-logo.png" alt="theramind-logo">
            </a>
        </div>
        <!-- If we want a simple, no-text logo this is it
            <div class="brand-mobile">
                <img src="main-logo-simple.png" alt="theramind-logo">
            </div> 
        -->
        <div class="navbar-wrapper">
            <div class="call-now">
                <p><i class="fas fa-phone-volume"></i>Call now for a FREE consultation! <span>+1 (805) 845-4455</span></p>
            </div>
            <div class="navbar">
                <div class="menu-link-wrapper">
                    <a class='nav-link' href='<%- config.root %>'>Home</a>
                </div>
                <!-- Loop through all pages -->
                <% for (let i = 0; i < site.pages.data.length; i++) { %>
                    <% let thisPage = site.pages.data %>
                    <!-- Print top level pages -->
                    <% if (thisPage[i].type === 'top-level') { %>
                        <div class="menu-link-wrapper">
                            <!-- If the top-level page has child pages, give it a dropdown icon -->
                            <% if (thisPage[i].children === true) { %>
                                <a class='nav-link' href='<%- config.root %><%- thisPage[i].path %>'><%- thisPage[i].menulabel %><i class="fas fa-angle-down"></i></a>
                                <div class="dropdown">
                                <!-- If there's childern pages, loop through all children and pick the ones that have parent = this page's title --> 
                                    <% for (let j = 0; j < site.pages.data.length; j++) { %>
                                        <% if ((thisPage[j].type === 'lower-level') && (thisPage[j].parent === thisPage[i].menulabel)) { %>
                                            <a class='nav-link' href='<%- config.root %><%- thisPage[j].path %>'><%- thisPage[j].menulabel %></a>
                                        <% } %>
                                    <% } %>
                                </div>
                            <% } else { %>
                                <a class='nav-link' href='<%- config.root %><%- thisPage[i].path %>'><%- thisPage[i].menulabel %></a>
                            <% } %>
                        </div>
                    <% } %>
                <% } %>
            </div>
            <div class='hamburger' onclick='hamburgerClick(this)'>
                <div class='bar1'></div>
                <div class='bar2'></div>
                <div class='bar3'></div>
            </div>
        </div>
    </div>
    <div class='nav-mobile'>
        <a class='mobile-link' href='<%- config.root %>'>Home</a>
        <% for (let i = 0; i < site.pages.data.length; i++) { %>
            <% let thisPage = site.pages.data %>
            <!-- Print top level pages -->
            <% if (thisPage[i].type === 'top-level') { %>
                    <a class='mobile-link' href='<%- config.root %><%- thisPage[i].path %>'><%- thisPage[i].menulabel %></a>
            <% } %>
        <% } %>
        <div class="call-now-mobile">
            <p><i class="fas fa-phone-volume"></i>Call now for a FREE consultation! <span>+1 (805) 845-4455</span></p>
        </div>
    </div>
</div>