<!-- NAVIGATION -->
<div class="nav">
    <div class="nav-top">
        <div class="brand">
            <a href="<%- config.root %>">
                <img src="/images/theramind-logo.png" alt="theramind-logo">
            </a>
        </div>
        <!-- If we want a simple, no-text logo this is it
            <div class="brand-mobile">
                <img src="main-logo-simple.png" alt="theramind-logo">
            </div> 
        -->
        <div class="navbar-wrapper">
            <div class="call-now">
                <p><i class="fas fa-phone-volume"></i>Call now for a FREE consultation! <span>+1 (805) 845-4455</span></p>
            </div>
            <div class="navbar">
                <!-- Pull each menu item in from the local _config.yml file -->
                <% for (var i in theme.menu) { %>
                     <!-- If it's the services menu link, render that link + submenu links -->
                     <% if (i === 'Services') { %>
                        <div class="menu-link-wrapper">
                            <a class='nav-link' href='<%- url_for(theme.menu[i]) %>'><%- i %></a>
                            <div class="dropdown">
                                <% for (var j in theme.services) { %>
                                    <a class='nav-link' href='<%- url_for(theme.services[j]) %>'><%- j %></a>
                                <% } %> 
                            </div>
                        </div>
                    <% } else if (i === 'Treated Conditions') { %>
                        <div class="menu-link-wrapper">
                            <a class='nav-link' href='<%- url_for(theme.menu[i]) %>'><%- i %></a>
                            <div class="dropdown">
                                <% for (var j in theme.conditions) { %>
                                    <a class='nav-link' href='<%- url_for(theme.conditions[j]) %>'><%- j %></a>
                                <% } %> 
                            </div>
                        </div>
                    <% } else if (i === 'About') { %>
                        <div class="menu-link-wrapper">
                            <a class='nav-link' href='<%- url_for(theme.menu[i]) %>'><%- i %></a>
                            <div class="dropdown">
                                <% for (var j in theme.about) { %>
                                    <a class='nav-link' href='<%- url_for(theme.about[j]) %>'><%- j %></a>
                                <% } %> 
                            </div>
                        </div>
                    <% } else { %>
                        <a class='nav-link' href='<%- url_for(theme.menu[i]) %>'><%- i %></a>
                    <% } %>
                <% } %>
            </div>
            <div class='hamburger' onclick='hamburgerClick(this)'>
                <div class='bar1'></div>
                <div class='bar2'></div>
                <div class='bar3'></div>
            </div>
        </div>
    </div>
    <div class='nav-mobile'>
        <% for (var i in theme.menu) { %>
            <a class='mobile-link' href='<%- url_for(theme.menu[i]) %>'><%- i %></a>
        <% } %>
        <div class="call-now-mobile">
            <p><i class="fas fa-phone-volume"></i>Call now for a FREE consultation! <span>+1 (805) 845-4455</span></p>
        </div>
    </div>
</div>