<div class="sidebar">
    <div class="sidebar-module">
        <h4>Recent</h4>
        <!-- Push blog posts to one array, and their dates to another -->
        <% const blogPosts = [];
        const blogObj = {};
        site.posts.each((post) => {
            if (post.type === 'blog') {
                blogPosts.push(post);
                blogObj.post = post;
            };
        }); %>
        <ul class="list-styled">
            <!-- Loop through posts with a 'blog' type and print a few recents -->
            <% for (let i = blogPosts.length-1; i > blogPosts.length-3; i--) { %>
                <li><a href="<%- url_for(blogPosts[i].path) %>"><%- blogPosts[i].title %></a></li>
            <% } %>
        </ul>
    </div>
    <div class="sidebar-module">
        <h4>Archives</h4>
        <%- console.log(blogObj); %>
        <%- list_archives(blogObj, {
            class: 'list-styled',
            transform(str) {
                return titlecase(str);
            }
        }) %>
    </div>
    <div class="sidebar-module">
        <% if (is_category() || is_page()) { %>
            <h4>Categories</h4>
            <%- list_categories(site.categories, {
                class: 'list-styled',
                transform(str) {
                    return titlecase(str);
                }
            }) %>
        <% } %>
        <% if (is_tag() || is_post()) { %>
            <h4>Tags</h4>
            <%- list_tags(site.tags, {
                class: 'list-styled',
                transform(str) {
                    return titlecase(str);
                }
            }) %>
        <% } %>
    </div> 
</div>